
#quizzes {

    font-size: 100px;
    font-weight: 400;
    text-transform: uppercase;

    margin-top: 125px;
    margin-bottom: 0px;
    text-align: center;

}

#quizzes p {

    font-size: 20px;
    font-weight: 500;
    margin-top: 0px;
    opacity: 0.3;
    
}

.qcont {

    width: 300px;
    height: 400px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0.5rem;
    
    background-color: var(--colors);
    border-radius: 30px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.1), -6px -6px 6px rgba(206, 217, 235, 0.01);
    transition: 0.4s;

}

.qcont:hover {
    transform: translateY(-5px);
}

.qcont:hover span {
    color: var(--colorp);
}

.qcont h1 {
    font-size: 50px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.qcont span {
    font-weight: 600;
    color: var(--colors);
    transition: 0.4s;
}

.qcont div {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.qcont input {
    padding: 5px;
}

.qcont button {
    margin-top: 1rem;
    margin-bottom: 1rem;

    padding: 0.75rem;
    border-radius: 10px;
    background-color: var(--colors);
 
    outline: none;
    border-style: solid;
    border-width: 1.5px;
    border-color: #ffffff09;
    transition: 0.3s;
}

.qcont button:hover {
    cursor: pointer;
    transform: translateY(-5px);
}

.qcont button:active {
    transform: translateY(5px);
}

#addbtn:hover {
    border-color: #38ca50;
    color: #38ca50;
}

#retbtn:hover {
    border-color: #e0c320;
    color: #e0c320;
}

#delbtn:hover {
    border-color:#cf4242;
    color: #cf4242;
}

.qcont input {
    margin-bottom: 1rem;

    width: 200px;
    padding: 0.6rem;
    border-radius: 10px;
    background-color: var(--colors);

    outline: none;
    border-style: solid;
    border-width: 1.5px;
    border-color: #ffffff09;
    transition: 0.3s;
}

.qcont textarea {
    width: 200px;
    padding: 0.6rem;
    border-radius: 10px;
    background-color: var(--colors);
    resize: none;

    outline: none;
    border-style: solid;
    border-width: 1.5px;
    border-color: #ffffff09;
    transition: 0.3s;
}

.qcont input:hover, .qcont textarea:hover {
    border-color: var(--colora);
}
