/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .search-container {
    text-align: center;
    margin-top: 20px;
  }
  
  #searchInput {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
  }
  
  .section {
    margin: 500px 0;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
  }
  
  h2 {
    margin-top: 0;
  }
  