#progress {
    margin: 4rem 0 0 0;
    align-self: flex-start;
    font-size: 5vw ;
    font-weight: 400;
    text-transform: uppercase;
}

@media(max-width: 800px) {
    #progress {
        font-size: 46px;
    }
}

@media(max-width: 800px) {
    #progress {
        font-size: 46px;
    }
}

.progress {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 1rem;
    border-radius: 15px;

    width: 100%;
    height: 72px;
    background-color: var(--colorb);

    font-size: 20px;
    font-weight: 700;
}

.progress p {
    font-size: 15px;
}

.probar {
    margin: 7px 0 0 0;
    height: 20px;
    background: linear-gradient(to right, var(--colora), var(--colorp));
    border-radius: 10px;
    width: 65%; /*update progress */
    transition: width 0.3s ease;
}

.progress p {
    opacity: 0.45;
    margin-top: 5px;
    font-family: serif;
}

.reqbar {
    margin: 7px 0 0 0;
    height: 20px;
    background: linear-gradient(to right, var(--colora), var(--colorp));
    border-radius: 10px;
    width: 0%; /*update progress */
    transition: width 0.3s ease;
}

.recent {
    background-color: var(--colorb);
    padding: 1rem;
    width: 100%;
    border-radius: 15px;
}

.reqtory {
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
    gap: 1rem;
    flex-wrap: wrap;

    width: 100%;
}

.recent span {
    font-size: 20px;
    font-weight: 700;
}

@media(max-width: 330px) {
    .progress {
        font-size: 15px;
    }
}